.companyInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  min-height: 100vh;
  gap: 50px;
}

.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .introVideo {
    width: 940px;
    height: 350px;
    position: relative; /* 상대 위치를 설정하여 ::before 가상 요소가 제대로 작동하도록 함 */
    background-image: url("../../../../src/assets/img/canada_information_thumbnail.jpg");
    background-size: cover; /* 이미지가 컨테이너를 가득 채우도록 설정 */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

    .videoPlaceholder {
      position: relative;
      z-index: 2; /* 배경보다 앞에 위치하도록 설정 */
      font-size: 50px;
      color: #ffffff;
      opacity: 1;
    }
  }

  .introVideo::before {
    content: '';
    position: absolute; /* 절대 위치를 사용하여 부모 요소를 채움 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 어두운 반투명 배경 */
    border-radius: 10px; /* 부모 요소와 동일한 둥근 모서리 */
    z-index: 1;
  }

  .introText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
}

// 실제 회사 목록들 css
.companyContents {
  display: flex;
  width: 940px;
  flex-direction: column;

  // 검색 css
  .filterSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;

    .filterButton {
      width: 230px;
      height: 55px;
      background-color: #3498DB;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
      font-size: 16px;
      color: #ffffff;
      transition: background-color 0.3s;
    }

    .filterButton:hover {
      background-color: #9B59B6;
    }
  }

  // 회사 리스팅 css

  .jobListingWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .jobListing {
      width: 100%;
      max-width: 940px;
      border: 1px solid #333333;
      border-radius: 10px;
      padding: 20px;
      margin: 10px 0;
      background-color: #2a2a2a;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .jobHeader {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        border-bottom: 1px solid #444444;
        padding-bottom: 10px;

        .companyThumbnail {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          border-radius: 5px;
          object-fit: cover;
        }

        .jobInfo {
          display: flex;
          width: 90%;
          justify-content: space-between;

          .companyName {
            font-size: 24px;
            font-weight: bold;
            margin-right: auto;
          }

          .jobTitle {
            font-size: 24px;
            font-weight: bold;
            margin-left: auto;
          }
        }

      }

      .jobDetail {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .jobContent {
          min-width: 300px;
          display: flex;
          flex-direction: column;


          .contentsName {
            font-size: 19px;
            font-style: normal;
            font-weight: 850;
            line-height: 150%;
            letter-spacing: -0.24px;
            color: #ffffff;
          }

          .contentText {
            font-weight: 300;
          }
        }


        //.jobLocation {
        //}
        //
        //.jobDescription {
        //  font-size: 16px;
        //}
      }
    }

    .jobListing:hover {
      transform: scale(1.05);
    }
  }

}
