
@mixin signupButtonBase{
  width: 40%;
  min-height: 52px;

  padding: 12px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;

  font-size: 33px;
  text-align: center;
  font-weight: 500;

  transition: background-color 0.3s ease;
}
.signupMainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .signupWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0;

    .header {
      color: #2e75cc;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -.05em;
      line-height: 1.6;
      margin-bottom: 50px;
    }

    .body {
      display: flex;
      flex-direction: column;

      border: 0.4px solid #9f9f9f;
      border-radius: 7px;
      gap: 50px;
      padding: 40px 45px;
      width: 490px;

    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  //gap: 7px;

}

.contentWithButton{
  display: flex;
  justify-content: space-between;
}

.contentInput {
  background-color: #202020;
  border-width: 1px;
  //border: none;
  border-right: 1px rgb(118, 118, 118);
  align-items: center;
  display: flex;
  margin-top: 4px;
  width: 70%;
  height: 50px;
  padding: 1px 7px;

  color: #a5b4eb;
  font-size: 16px;
}

.checkDuplicatedButton {
  width: 110px;
  height: 50px;
  cursor: pointer;
  font-size: 17px;
  color: #d5d5d5;

  border: 1.5px none #dedede;
  border-radius: 11px;
  background-color: #5864ad;
  transition: background-color 0.3s ease;
}

.checkDuplicatedButton:hover {
  background-color: #44a18b;
  //color: #ffffff;
  color: #ffffff;
}

.contentText {
  color: #a5b4eb;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -.05e
}

.contentWithNation{
  display: flex;
}

.nationWrapper {
  background-color: #202020;
  border-bottom: 1px solid rgb(118, 118, 118);
  //border: 1px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  width: 70%;
  height: 50px;
  padding: 1px 7px;
  cursor: pointer;

  > .nationText {
    color: lightskyblue;
  }
}

.selectButton{
  //align-self: flex-end;

  background-image: url("../../img/select_arrow.svg");
  background-size: cover;
  background-position: center;
  width: 33px;
  height: 33px;

  position: relative;
  top: 10px;
}

.selectOptionsWrapper{
  width: 100px;
  display: flex;
  flex-direction: column;
  top: 42px;
  position: relative;
  left: -60px;

  background-color: #343232;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;

  > .options{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 33px;
    background-color: #343232;

    &.selected{
      background-color: #575757;
      color: lightskyblue;
    }
  }
}

.buttonsWrapper {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;

  .cancelButton {
    @include signupButtonBase;
    background-color: #c8889a;
  }

  .cancelButton:hover {
    background-color: #cd2454;
    color: #ffffff;
  }

  .signupButton {
    @include signupButtonBase;
    background-color: #88c8ab;
  }

  .signupButton:hover {
    background-color: #4b95dd;
    color: #ffffff;
  }

  .buttonText{
    color: white;
    font-size: 33px;
    font-weight: bold;
  }
}
.confirmMessage{
  margin-top: 10px;
  color:#FFFFFF;
  font-size: 16px;
  font-weight: bold;
}

.duplicateMessage{
  margin-top: 10px;
  color: #e97e8d;
  font-size: 16px;
  font-weight: bold;
}